extends layout

block stylesheet 
    link(rel='stylesheet', href='/stylesheets/catalog.css')

block content 
    p= title
    div(class="container")
        if cars.length
            each car in cars
                div(class="car-card")  
                    a(href= car.url) 
                        img(class="car-image" src=car.image, alt=`image of ${car.name}`)
                    div(class="car-info")
                        a(href= car.url) 
                            p(class="car-name") #[strong #{car.name}] 
                        
                        div(class="car-brand") #[strong Manufacturer: ]
                            a(href=car.brand.url) #{car.brand.name}
                        div(class="car-category") #[strong Category: ]
                            a(href=car.category.url) #{car.category.name}
                        div(class="car-release") #[strong Release year:] #{car.releaseYear_formatted}
                        div(class="car-description") #[strong Description:] #{car.description}
                        div(class="buying-info")
                            div(class="car-price") #[strong Price:] #{car.price}$
                            div(class="car-stock") #[strong Stock:] #{car.inStock}
        else 
            h2 There are no cars in category #{title}