extends layout 

block stylesheet 
    link(rel='stylesheet', href='/stylesheets/style.css')

block content 
    h1(class="title")= title
    div(class="container")

        if list_categories
            if list_categories.length
                each category in list_categories
                    div(class="category-box")
                        a(href=`/category/${category._id}`)  
                            p= category.name 
                            img(src=category.image , alt="category image")
            else 
                p There are no car categories 
            div(class="category-box")
                    a(href="/category/create")
                        p Create new category
                        img(class="new-icon" src="https://cdn3.iconfinder.com/data/icons/harmonicons-06/64/plus-circle-512.png", alt="") 
        else 
            if list_manufacturers.length 
                each manufacturer in list_manufacturers
                    div(class="manufacturer-box")
                        a(href=`/manufacturer/${manufacturer._id}`) 
                            p= manufacturer.name 
                            img(src=manufacturer.logo, alt=`${manufacturer.name} logo`)
            
            else 
                p There are no car manufacturers
            div(class="manufacturer-box")
                    a(href="/manufacturer/create")
                        p Create new manufacturer
                        img(class="new-icon" src="https://cdn3.iconfinder.com/data/icons/harmonicons-06/64/plus-circle-512.png", alt="create new") 
    
